<a href="https://colab.research.google.com/github/Whoami666/Free-Practice/blob/main/Avito%20Academy/ML/AVITO_ML_Pandas_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [98]:
import pandas as pd

In [120]:
df = pd.read_csv('/content/dataset_521000_9 (3).txt', delimiter =';')
df.head(1)

   seller_id  quantity        date
0        473         3  2021-06-14

In [121]:
df.date = pd.to_datetime(df.date)

In [122]:
df.sort_values(by=['seller_id', 'date'], ascending=True, inplace=True)
df.head()

      seller_id  quantity       date
1017          0        40 2021-06-01
336           0        17 2021-06-02
8623          0        25 2021-06-03
7344          0        37 2021-06-04
9518          0        22 2021-06-05

In [123]:
df['dt_diff'] = df.groupby('seller_id')['date'].diff().dt.days.fillna(1)
df.head(1)

      seller_id  quantity       date  dt_diff
1017          0        40 2021-06-01      1.0

In [124]:
df['cumsum'] = df['dt_diff'].apply(lambda x: 1 if x > 1 else 0)
df['period'] = df.groupby('seller_id')['cumsum'].cumsum() + 1
df.head()

      seller_id  quantity       date  dt_diff  cumsum  period
1017          0        40 2021-06-01      1.0       0       1
336           0        17 2021-06-02      1.0       0       1
8623          0        25 2021-06-03      1.0       0       1
7344          0        37 2021-06-04      1.0       0       1
9518          0        22 2021-06-05      1.0       0       1

In [126]:
mean_period_length = df.groupby(['seller_id', 'period']).date.count().mean() #Сколько дней в среднем длится один период 
mean_period_length = round(mean_period_length, 3)
mean_period_length

4.821

In [127]:
mean_sales_count = df.groupby(['seller_id','period']).quantity.mean().mean() #Среднее количество проданных товаров за день в одном периоде
mean_sales_count = round(mean_sales_count, 3)
mean_sales_count

19.718

In [128]:
mean_periods_count = df.groupby(['seller_id']).period.max().mean() #Среднее количество периодов на один магазин
mean_periods_count = round(mean_periods_count, 3)
mean_periods_count

4.277

In [129]:
print(f'mean_period_length:{mean_period_length} mean_sales_count:{mean_sales_count} mean_periods_count:{mean_periods_count}')

mean_period_length:4.821 mean_sales_count:19.718 mean_periods_count:4.277