# Assignment 2
For this assignment you'll be looking at 2017 data on immunizations from the CDC. Your datafile for this assignment is in [assets/NISPUF17.csv](assets/NISPUF17.csv). A data users guide for this, which you'll need to map the variables in the data to the questions being asked, is available at [assets/NIS-PUF17-DUG.pdf](assets/NIS-PUF17-DUG.pdf). **Note: you may have to go to your Jupyter tree (click on the Coursera image) and navigate to the assignment 2 assets folder to see this PDF file).**

## Question 1
Write a function called `proportion_of_education` which returns the proportion of children in the dataset who had a mother with the education levels equal to less than high school (<12), high school (12), more than high school but not a college graduate (>12) and college degree.

*This function should return a dictionary in the form of (use the correct numbers, do not round numbers):* 
```
    {"less than high school":0.2,
    "high school":0.4,
    "more than high school but not college":0.2,
    "college":0.2}
```

In [4]:
import pandas as pd
df=pd.read_csv("assets/NISPUF17.csv")
df.head()

,Unnamed: 0,SEQNUMC,SEQNUMHH,PDAT,PROVWT_D,RDDWT_D,STRATUM,YEAR,AGECPOXR,HAD_CPOX,...,XVRCTY2,XVRCTY3,XVRCTY4,XVRCTY5,XVRCTY6,XVRCTY7,XVRCTY8,XVRCTY9,INS_STAT2_I,INS_BREAK_I
0,1,128521,12852,2,NaN,235.916956,1031,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,10741,1074,2,NaN,957.353840,1068,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,220011,22001,2,NaN,189.611299,1050,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,86131,8613,1,675.430817,333.447418,1040,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
4,5,227141,22714,1,482.617748,278.768063,1008,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0

In [201]:
me = df.EDUC1
me.dropna(inplace=True)
len(me)

28465

In [202]:
def proportion_of_education():
    dic = {"less than high school": len(me[me==1])/len(me),
    "high school": len(me[me==2])/len(me),
    "more than high school but not college": len(me[me==3])/len(me),
    "college": len(me[me==4])/len(me)}
    return dic
    raise NotImplementedError()

In [203]:
assert type(proportion_of_education())==type({}), "You must return a dictionary."
assert len(proportion_of_education()) == 4, "You have not returned a dictionary with four items in it."
assert "less than high school" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."
assert "high school" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."
assert "more than high school but not college" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."
assert "college" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."

## Question 2

Let's explore the relationship between being fed breastmilk as a child and getting a seasonal influenza vaccine from a healthcare provider. Return a tuple of the average number of influenza vaccines for those children we know received breastmilk as a child and those who know did not.

*This function should return a tuple in the form (use the correct numbers:*
```
(2.5, 0.1)
```

In [204]:
df['breast'] = df.CBF_01 #Yes No Don’t know Missing
df['influ'] = df.P_NUMFLU
df.breast

0        1
1        2
2        2
3        2
4        1
        ..
28460    2
28461    1
28462    1
28463    2
28464    1
Name: breast, Length: 28465, dtype: int64

In [205]:
df.influ.dropna(inplace=True)
df.influ.head(10)

3     3.0
4     0.0
6     0.0
7     0.0
8     0.0
10    3.0
12    3.0
16    3.0
19    2.0
20    3.0
Name: influ, dtype: float64

In [206]:
df.breastfed = df.breast[df.breast==1]
df.nonbreastfed = df.breast[df.breast==2]
df.nonbreastfed

1        2
2        2
3        2
5        2
17       2
        ..
28447    2
28451    2
28452    2
28460    2
28463    2
Name: breast, Length: 4085, dtype: int64

In [207]:
df.influ.head()

3    3.0
4    0.0
6    0.0
7    0.0
8    0.0
Name: influ, dtype: float64

In [208]:
nb = df.copy()
bf = df.copy()
nb = nb[nb.breast==2]
bf = bf[bf.breast==1]
nb.influ.head, bf.influ.head

(<bound method NDFrame.head of 1        NaN
 2        NaN
 3        3.0
 5        NaN
 17       NaN
         ...
 28447    1.0
 28451    NaN
 28452    2.0
 28460    NaN
 28463    NaN
 Name: influ, Length: 4085, dtype: float64>,
 <bound method NDFrame.head of 0        NaN
 4        0.0
 6        0.0
 7        0.0
 8        0.0
         ...
 28458    NaN
 28459    NaN
 28461    NaN
 28462    NaN
 28464    NaN
 Name: influ, Length: 24261, dtype: float64>)

In [209]:
def average_influenza_doses():
    notbreast1 = nb.influ.mean()
    breastfed1 = bf.influ.mean()
    return (breastfed1, notbreast1)
    raise NotImplementedError()

In [210]:
assert len(average_influenza_doses())==2, "Return two values in a tuple, the first for yes and the second for no."

In [211]:
average_influenza_doses()

(1.8799187420058687, 1.5963945918878317)

## Question 3
It would be interesting to see if there is any evidence of a link between vaccine effectiveness and sex of the child. Calculate the ratio of the number of children who contracted chickenpox but were vaccinated against it (at least one varicella dose) versus those who were vaccinated but did not contract chicken pox. Return results by sex. 

*This function should return a dictionary in the form of (use the correct numbers):* 
```
    {"male":0.2,
    "female":0.4}
```

Note: To aid in verification, the `chickenpox_by_sex()['female']` value the autograder is looking for starts with the digits `0.0077`.

In [212]:
df.SEX.head() #Male Female

0    1
1    1
2    2
3    2
4    2
Name: SEX, dtype: int64

In [215]:
df.HAD_CPOX.head(10) #Yes No Don’t know Refused Missing

0    2
1    2
2    2
3    2
4    2
5    2
6    2
7    2
8    1
9    2
Name: HAD_CPOX, dtype: int64

In [216]:
df.P_NUMVRC.head()

0    NaN
1    NaN
2    NaN
3    1.0
4    0.0
Name: P_NUMVRC, dtype: float64

In [1]:
df.P_NUMVRC.head()

NameError: name 'df' is not defined

In [187]:
df.P_NUMVRC.head()
df.P_NUMVRC.dropna(inplace=True)

In [217]:
Females_Vac_CPOX0 = df[(df.P_NUMVRC > 0) & (df.SEX == 2) & (df.HAD_CPOX == 2)]
Females_Vac_CPOX1 = df[(df.P_NUMVRC > 0) & (df.SEX == 2) & (df.HAD_CPOX == 1)] #(df.HAD_CPOX == 1)
Females_Vac_CPOX0.head()

,Unnamed: 0,SEQNUMC,SEQNUMHH,PDAT,PROVWT_D,RDDWT_D,STRATUM,YEAR,AGECPOXR,HAD_CPOX,...,XVRCTY4,XVRCTY5,XVRCTY6,XVRCTY7,XVRCTY8,XVRCTY9,INS_STAT2_I,INS_BREAK_I,breast,influ
3,4,86131,8613,1,675.430817,333.447418,1040,2017,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,2,3.0
6,7,221381,22138,1,516.427723,248.916038,1008,2017,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,1,0.0
20,21,270401,27040,1,249.409773,188.752870,1066,2017,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,1,3.0
22,23,160991,16099,1,289.125148,300.945768,1041,2017,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2,0.0
24,25,36011,3601,1,222.134653,99.208534,1073,2017,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1,3.0

In [218]:
Males_Vac_CPOX0 = df[(df.P_NUMVRC > 0) & (df.SEX == 1) & (df.HAD_CPOX == 2)]
Males_Vac_CPOX1 = df[(df.P_NUMVRC > 0) & (df.SEX == 1) & (df.HAD_CPOX == 1)] #(df.HAD_CPOX == 1)
Males_Vac_CPOX.head()

,Unnamed: 0,SEQNUMC,SEQNUMHH,PDAT,PROVWT_D,RDDWT_D,STRATUM,YEAR,AGECPOXR,HAD_CPOX,...,XVRCTY5,XVRCTY6,XVRCTY7,XVRCTY8,XVRCTY9,INS_STAT2_I,INS_BREAK_I,breast,influ,var
10,11,128211,12821,1,335.398714,198.123294,1057,2017,NaN,2,...,NaN,NaN,NaN,NaN,NaN,1.0,2.0,1,3.0,1.0
12,13,137041,13704,1,82.582116,45.544717,1051,2017,NaN,2,...,NaN,NaN,NaN,NaN,NaN,1.0,2.0,1,3.0,1.0
16,17,188611,18861,1,345.352030,196.111859,1057,2017,NaN,2,...,NaN,NaN,NaN,NaN,NaN,1.0,2.0,1,3.0,2.0
19,20,136171,13617,1,223.451930,136.912758,1059,2017,NaN,2,...,NaN,NaN,NaN,NaN,NaN,1.0,2.0,1,2.0,1.0
21,22,238751,23875,1,270.449794,134.563612,1058,2017,NaN,2,...,NaN,NaN,NaN,NaN,NaN,3.0,2.0,1,1.0,1.0

In [219]:
def chickenpox_by_sex():
    dic = {"male": len(Males_Vac_CPOX1)/len(Males_Vac_CPOX0),
    "female": len(Females_Vac_CPOX1)/len(Females_Vac_CPOX0)}
    return dic
    raise NotImplementedError()

In [220]:
assert len(chickenpox_by_sex())==2, "Return a dictionary with two items, the first for males and the second for females."

## Question 4
A correlation is a statistical relationship between two variables. If we wanted to know if vaccines work, we might look at the correlation between the use of the vaccine and whether it results in prevention of the infection or disease [1]. In this question, you are to see if there is a correlation between having had the chicken pox and the number of chickenpox vaccine doses given (varicella).

Some notes on interpreting the answer. The `had_chickenpox_column` is either `1` (for yes) or `2` (for no), and the `num_chickenpox_vaccine_column` is the number of doses a child has been given of the varicella vaccine. A positive correlation (e.g., `corr > 0`) means that an increase in `had_chickenpox_column` (which means more no’s) would also increase the values of `num_chickenpox_vaccine_column` (which means more doses of vaccine). If there is a negative correlation (e.g., `corr < 0`), it indicates that having had chickenpox is related to an increase in the number of vaccine doses.

Also, `pval` is the probability that we observe a correlation between `had_chickenpox_column` and `num_chickenpox_vaccine_column` which is greater than or equal to a particular value occurred by chance. A small `pval` means that the observed correlation is highly unlikely to occur by chance. In this case, `pval` should be very small (will end in `e-18` indicating a very small number).

[1] This isn’t really the full picture, since we are not looking at when the dose was given. It’s possible that children had chickenpox and then their parents went to get them the vaccine. Does this dataset have the data we would need to investigate the timing of the dose?

In [2]:
import pandas as pd
df = pd.read_csv("assets/NISPUF17.csv")
df = df[df.HAD_CPOX < 3]
df.dropna(subset=["HAD_CPOX", "P_NUMVRC"], inplace=True)

def corr_chickenpox():
    import scipy.stats as stats
    import numpy as np
    import pandas as pd


    corr, pval=stats.pearsonr(df["HAD_CPOX"],df["P_NUMVRC"])
    return corr
    raise NotImplementedError()

In [3]:
assert -1<=corr_chickenpox()<=1, "You must return a float number between -1.0 and 1.0."